/* VARIABLES */
$color--primary: #fff;
$color--background: #37425f;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: $color--primary;
  background-color: $color--background;
}

.App-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}